<!-- src/app/layout/layout.component.html -->
<header class="bg-light py-2 shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <a href="/" class="d-flex align-items-center text-decoration-none">
      <img src="assets/logo.jpg" alt="Logo" class="logo me-3" style="width: 100px; height: auto;">
    </a>
    <!-- Navigation -->
    <nav>
   <!--   <ul class="nav">
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/home" routerLinkActive="active" style="cursor: pointer;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/about" routerLinkActive="active" style="cursor: pointer;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/catering" routerLinkActive="active" style="cursor: pointer;">Catering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/contact" routerLinkActive="active" style="cursor: pointer;">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/menu" routerLinkActive="active" style="cursor: pointer;">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/order" routerLinkActive="active" style="cursor: pointer;">Online Order</a>
        </li>
      </ul>-->
    </nav>

  </div>
</header>


